<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>57190328732-s5g64oscmjgnvnkh9942ot1rbhef5dgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57190328732-s5g64oscmjgnvnkh9942ot1rbhef5dgt</string>
	<key>API_KEY</key>
	<string>AIzaSyCp04bbaWhqw-qjnyHCFcbKdxZP2bRbnR4</string>
	<key>GCM_SENDER_ID</key>
	<string>57190328732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.columbus1997</string>
	<key>PROJECT_ID</key>
	<string>columbus1997-7a315</string>
	<key>STORAGE_BUCKET</key>
	<string>columbus1997-7a315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57190328732:ios:ab2f543ddc616f42</string>
	<key>DATABASE_URL</key>
	<string>https://columbus1997-7a315.firebaseio.com</string>
</dict>
</plist>