<!--
  Generated template for the JourneyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Journeys</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-list [virtualScroll]="speakers">
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let speaker" approxItemHeight="457px">
          <button ion-item *ngFor="let trip of tripdata" (click)="goToSessionDetail(session)">
          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="goToSpeakerDetail(speaker)">
                <ion-avatar item-start>
                  <img [src]="speaker.profilePic" alt="Speaker profile pic">
                </ion-avatar>
                <b>Trip Id: {{trip.tripId}}</b>

              </button>
            </ion-card-header>

            <ion-card-content padding word-wrap class="outer-content">
              <ion-list padding>


                <ion-list-header>Trip Admin:</ion-list-header>
                  <ion-note padding>{{trip.admin}}</ion-note>
                <ion-list-header>Trip Preferences</ion-list-header>
                <ion-note padding>

                <ion-row>Group Size: {{trip.preferences[1].value}} </ion-row>

                <ion-row>Gender: {{trip.preferences[2].value}}</ion-row>
                <ion-row>Trip Type:{{trip.tripType}} </ion-row>

                <ion-row>Age Range Seletion: {{trip.preferences[0].value}} </ion-row>
                <ion-row>Start Time: {{trip.preferences[3].value}}</ion-row>
                <ion-row>Start Date: {{trip.preferences[4].value}}</ion-row>
                <ion-row>Repeat: {{trip.preferences[6].value}}</ion-row>
                <ion-row>Start Co-ordinates: {{trip.tripStops[0].coordinate.x}}, {{trip.tripStops[0].coordinate.y}}</ion-row>
                <ion-row>Destination Co-ordinates: {{trip.tripStops[1].coordinate.x}}, {{trip.tripStops[1].coordinate.y}}</ion-row>
                  <ion-list-header>Trip Members:</ion-list-header>

                  <ion-row padding *ngFor="let users of trip.tripUsersLoginIds">
                    {{users}}
                  </ion-row>
                </ion-note>

                <ion-item align-self-center="2">
                  <button align-self-center="10" padding ion-button color="danger" round>Join Group</button>
                </ion-item>

                <button ion-item (click)="goToSpeakerDetail(speaker)">
                  <h3></h3>
                </button>
              </ion-list>
            </ion-card-content>




          </ion-card>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
