<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="closefilter()">Cancel</button>
    </ion-buttons>

    <ion-title>
      Preference filter
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="applyFilters()" strong>Done</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="pref">
<ion-content class="outer-content">

  <ion-list>
    <ion-list-header>Preferences</ion-list-header>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="selectedpref.gender">
        <ion-option *ngFor="let a of pref.gendervalue; let i = index" value="{{a.val}}" [selected]="a.display">{{a.val}}</ion-option>
        <!--<ion-option *ngFor="let a of pref.gendervalue" [value]="a" *ngIf="selectedpref.gender!=a" [selected]="false">{{a}}</ion-option>-->
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>Min Age</ion-label>
          <ion-select [(ngModel)]="selectedpref.miniage">
            <ion-option *ngFor="let a of pref.minagevalue" [value]="a.val" [selected]="a.display">{{a.val}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item>
          <ion-label>Max Age</ion-label>
          <ion-select [(ngModel)]="selectedpref.maxiage" (ionChange)="validate()">
            <ion-option *ngFor="let a of pref.maxagevalue" [value]="a.val" [selected]="a.display">{{a.val}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label>Rating</ion-label>
      <ion-select [(ngModel)]="selectedpref.star">
        <ion-option *ngFor="let a of pref.starvalue" [value]="a.val" [selected]="a.display">{{a.val}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>Min group</ion-label>
          <ion-select [(ngModel)]="selectedpref.minigroup">
            <ion-option *ngFor="let a of pref.mingroupvalue" [value]="a.val" [selected]="a.display">{{a.val}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item>
          <ion-label>Max group</ion-label>
          <ion-select [(ngModel)]="selectedpref.maxigroup" (ionChange)="validate()">
            <ion-option *ngFor="let a of pref.maxgroupvalue" [value]="a.val" [selected]="a.display" >{{a.val}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>
</ng-container>
