page-homepage {

  #floating-panel {
    position: absolute;
    top: -5px;
    left:15%;
    right:15%;
    z-index: 5;
    background-color: transparent;
    //padding: 0px;
    //border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
  }
  .floatButton{
    position: absolute;
    z-index: 5;
    bottom: 120px;
    right: 0px;

    //right: 20%;
  }
  agm-map {
    height: 100%;
  }

  .searchBars{
    background-color:#ffffff;
    padding-left: 10%;
    margin: 0px;
  }

  .searchBtn{
    margin-left: -60px;
    margin-top: 5px;

  }

}


